@import '../theming/colors-dark.json';

:root[data-theme='dark'] {
  --colors-primary-100: #{map-get($colors, 'primary-100')};
  --colors-secondary-100: #{map-get($colors, 'secondary-100')};
  --colors-background: #{map-get($colors, 'background')};
  --colors-background-inverted: #{map-get($colors, 'backgroundInverted')};
  --colors-bg-secodary: #{map-get($colors, 'backgroundSecondary')};
  --colors-green-100: #{map-get($colors, 'green-100')};
  --colors-green-200: #{map-get($colors, 'green-200')};
  --colors-green-300: #{map-get($colors, 'green-300')};
  --colors-green-400: #{map-get($colors, 'green-400')};
  --colors-green-500: #{map-get($colors, 'green-500')};
  --colors-green-600: #{map-get($colors, 'green-600')};
  --colors-red-100: #{map-get($colors, 'red-100')};
  --colors-red-300: #{map-get($colors, 'red-300')};
  --colors-red-500: #{map-get($colors, 'red-500')};
  --colors-blue-100: #{map-get($colors, 'blue-100')};
  --colors-blue-300: #{map-get($colors, 'blue-300')};
  --colors-blue-400: #{map-get($colors, 'blue-400')};
  --colors-purple-100: #{map-get($colors, 'purple-100')};
  --colors-purple-300: #{map-get($colors, 'purple-300')};
  --colors-purple-400: #{map-get($colors, 'purple-400')};
}
